*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*/

body {
    background-color: black;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #fff;
    font-size: 5rem;
}

.parallax{
    background-image: url("../_imagens/8350439.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2{
    background-image: url('../_imagens/freepik__adjust__59185.jpeg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
